@import "./variables.scss";
@import "./web-components/menu-style";
@import "./web-components/header";
@import "./web-components/footer";
@import "./web-components/body";
@import "./web-components/content";

* {box-sizing: border-box;}

h3,
h4,
h5 {
  margin: 0;
}

.header {
  grid-area: header;
}

.menu {
  grid-area: menu;
}

.body {
  grid-area: body;
}

.main {
  font-family: "Arial Rounded MT";
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh; 
}
