@import "./web-components/helpers/variables.scss";
@import "./web-components/helpers/classes.scss";

@import "./web-components/mendeleev-table/element.scss";
@import "./web-components/mendeleev-table/element-description.scss";

@import "./web-components/menu-style";
@import "./web-components/header";
@import "./web-components/footer";
@import "./web-components/body";
@import "./web-components/content";
@import "./web-components/about-myself";

@import "../components/helpers/atom/atom.scss";


@font-face {
  font-family: 'Fredoka';
  src: local('Fredoka'), url(./web-components/fonts/FredokaOne-Regular.ttf) format('opentype');
}


* {box-sizing: border-box;}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

.header {
  grid-area: header;
}

.menu {
  grid-area: menu;
}

.body {
  grid-area: body;
}

.main {
  font-family: "Arial Rounded MT";
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh; 
}

.d-none {
  display: none!important;
}

.border-none {
  border: none!important;
}

.stop1 {
  background-color: #00ddfd;
  stop-color:#00ddfd;
  stop-opacity: 1;
}

.stop2 {
  stop-color:#2d6a82;
  background-color: #2d6a82;
  stop-opacity:1;
}