.cis-content {
  padding: 64px 128px;
}

.cis-title {
  font-size: 46px;
}

.cis-subtitle {
  font-size: 24px;
}

.social-icons svg {
  width: 50px;
  height: 50px;
}

.non-metal {
  color: $non-metal-color;
  border: 1px solid $non-metal-color;
  text-shadow: 0 0 0.4vw $non-metal-color;

  .atom {
    background-color: $non-metal-color;
  }
}

.alkali-metal {
  color: $alkali-metal-color;
  border: 1px solid $alkali-metal-color;
  text-shadow: 0 0 0.4vw $alkali-metal-color;

  .atom {
    background-color: $alkali-metal-color;
  }
}

.alkaline-earth-metal {
  color: $alkaline-earth-metal;
  border: 1px solid $alkaline-earth-metal;
  text-shadow: 0 0 0.4vw $alkaline-earth-metal;

  .atom {
    background-color: $alkaline-earth-metal;
  }
}

.transition-metal {
  color: $transition-metal-color;
  border: 1px solid $transition-metal-color;
  text-shadow: 0 0 0.4vw $transition-metal-color;

  .atom {
    background-color: $transition-metal-color;
  }
}

.post-transition-metal {
  color: $post-transition-metal-color;
  border: 1px solid $post-transition-metal-color;
  text-shadow: 0 0 0.4vw $post-transition-metal-color;

  .atom {
    background-color: $post-transition-metal-color;
  }
}

.metalloid {
  color: $metaloid-color;
  border: 1px solid $metaloid-color;
  text-shadow: 0 0 0.4vw $metaloid-color;
  
  .atom {
    background-color: $metaloid-color;
  }
}

.noble-gas {
  color: $noble-gas-color;
  border: 1px solid $noble-gas-color;
  text-shadow: 0 0 0.4vw $noble-gas-color;
  
  .atom {
    background-color:$noble-gas-color;
  }
}

.actinide {
  color: $actinide-color;
  border: 1px solid $actinide-color;
  text-shadow: 0 0 0.4vw $actinide-color;

  .atom {
    background-color: $actinide-color;
  }
}

.unknown {
  color: $unknown-color;
  border: 1px solid $unknown-color;
  text-shadow: 0 0 0.4vw $unknown-color;

  .atom {
    background-color: $unknown-color;
  }
}

.lanthanide {
  color: $lanthanide-color;
  border: 1px solid $lanthanide-color;
  text-shadow: 0 0 0.4vw $lanthanide-color;

  .atom {
    background-color: $lanthanide-color;
  }
}

@for $i from 1 through 10 {
  .r#{$i} {
    grid-row: $i;
  }
}

@for $i from 1 through 18 {
  .c#{$i} {
    grid-column: $i;
  }
}
.content-block {
  padding: 72px 0;
  font-family: 'Fredoka';
  border-bottom: 4px solid #FCE373;

  .content-block-title {
    width: 100%;
    text-align: center;
    font-size: 42px;
    color: $non-metal-color;
    animation: glow 1s ease-in-out infinite alternate;
    margin-bottom: 16px;

    span {
      margin-right: 16px;
    }
  }
}

.background-black {
  background-color: black;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;

  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;

  }
}
