$menu-color : #231F20;
$svg-color : #FCE373;
$header-background : #FFFEE9;
$text-color : #F8E3F6;
$body-color : #F6BEBE;
$attractive-color : #FC7373;
$about-myself-color: #41B3A3;

$non-metal-color: #52ee61;
$alkali-metal-color: #ecbe59;
$alkaline-earth-metal: #dee955;
$transition-metal-color: #fd8572;
$post-transition-metal-color: #4cddf3;
$metaloid-color: #3aefb6;
$noble-gas-color: #759fff;
$actinide-color: #c686cc;
$unknown-color: white;
$lanthanide-color: #ec77a3;
$chenumberes-color: #ffe5b4;

$non-metal-color__glow: #011b04;